<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <typeAliases>
      <typeAlias type="kr.pe.mododa.member.model.vo.Member" alias="member"/>
      <typeAlias type="kr.pe.mododa.member.model.vo.AutoLogin" alias="autoLogin"/>
      <typeAlias type="kr.pe.mododa.member.model.vo.ConfirmMailFindPass" alias="cmfp"/>
      <typeAlias type="kr.pe.mododa.member.model.vo.Partner" alias="partner"/>
      <typeAlias type="kr.pe.mododa.member.model.vo.SearchPartner" alias="searchPartner"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.Project" alias="project"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.WorkOn" alias="workon"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.WorkOnMember" alias="wom"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.WorkOnProject" alias="wop"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.SearchMember" alias="sm"/>
      <typeAlias type="kr.pe.mododa.notice.model.vo.Notice" alias="notice"/>
      <typeAlias type="kr.pe.mododa.notice.model.vo.NoticeList" alias="listNotice"/>
      <typeAlias type="kr.pe.mododa.notice.model.vo.SearchList" alias="searchList"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.ProjectPostList" alias="projectPostList"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.SearchHelper" alias="searchHelper"/>
      <typeAlias type="kr.pe.mododa.personal.model.vo.Newsfeed" alias="newsfeed"/>
      <typeAlias type="kr.pe.mododa.library.model.vo.Decision" alias="decision"/>
      <typeAlias type="kr.pe.mododa.library.model.vo.Link" alias="link"/>
      <typeAlias type="kr.pe.mododa.library.model.vo.Todo" alias="todo"/>
      <typeAlias type="kr.pe.mododa.library.model.vo.Upload" alias="upload"/>
      <typeAlias type="kr.pe.mododa.post.model.vo.Post" alias="post"/>
      <typeAlias type="kr.pe.mododa.post.model.vo.Comment" alias="comment"/>
      <typeAlias type="kr.pe.mododa.post.model.vo.PostLike" alias="postLike"/>
      <typeAlias type="kr.pe.mododa.calendar.model.vo.Schedule" alias="schedule"/>
      <typeAlias type="kr.pe.mododa.personal.model.vo.Bookmark" alias="bookmark"/>
      <typeAlias type="kr.pe.mododa.personal.model.vo.Mypost" alias="mypost"/>
      <typeAlias type="kr.pe.mododa.personal.model.vo.SerDelPost" alias="SerDel"/>
      <typeAlias type="kr.pe.mododa.qna.model.vo.Qna" alias="qna"/>
       <typeAlias type="kr.pe.mododa.qna.model.vo.QnaList" alias="qnaList"/>
      <typeAlias type="kr.pe.mododa.write.model.vo.RelationWriting" alias="relationWriting"/>
      <typeAlias type="kr.pe.mododa.write.model.vo.RelationSearchKey" alias="relationSearchKey"/>
      <typeAlias type="kr.pe.mododa.project.model.vo.ProgressHelper" alias="progressHelper"/>  
        
   </typeAliases>
</configuration>
