@charset "UTF-8";

.content {
	height: 98%;
	width: 99.5%;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);

	padding-right: 0px;
	padding-left: 0px;
}

.viewHeader {
	position: fixed-top ;
	border-bottom: 1px solid gray;
	height: 50px;
	width: 100%;
	background-color: white;
}

.headerTitle {
	position: absolute;
	top: 9px;
	left: 19px;
	float: left;
}

.headerFunction {
	margin: 5px 10px 5px 15px;
	float: right;
}
#searchShow{
	float:left;
}
#keyword{
	border: none;
	height:45px;
	width: 50%;
}

.viewContents {
	float:left;
	overflow-y: auto;
	overflow-x: hidden;
	height: 94%;

}

.feed-list {
	float:left;
	padding: 0;
	width:100%;
	
}

hr{
	margin:3px;
}
.feed-contents {
	list-style: none;
	padding: 3px 20px 5px 20px;
	 font-size:14;
}
#memberImg{
	width:30px;
	height:30px;
	border-radius:50%;
}
.ico{

    width: 30px;
    height: 30px;
    line-height: 30px;
    color:yellow;
}


